# environment
env.sh

# pycache
__pycache__/

# build directories
.build/
build/
out/
logs/
tools/aion_layout_claude/cells/

# nvim/vscode stuff
.nvim/
.vscode/

# compiled object files
*.slo
*.lo
*.o
*.obj
*.vcd
*.fst
